*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 0;
    padding: 0 0 ;
    user-select: none;
    box-sizing: border-box;
}
.top{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    background-image:url(/img/backImgTitle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
}
.title{
    text-align: left;
    font-size: 40px;;
    font-weight: bold;
    padding: 0px 76px;
    width: 100%;
}
.search{
    text-align: center;
    line-height: 30px;
    width: 100%;
}
.line{
    text-align: right;
    width: 100%;
}
.line ul{
    list-style: none;
    
    margin-top: 5px;
}
.line ul li{
    display: inline;
    padding: 1%;
}
.line ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    border: 4px solid #000000;
    padding:4px;
    font-size:17px;
    border-radius: 7px;
    text-align: center;
}
.line ul li a i{
   padding: 1%;
    
}
.line ul li a:hover{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: bold;
    font-size: 20px;
}
.line .button-type{
    width: 100px;
    margin: 10px;
    padding: 1%;
    text-align: center;
    border-radius: 30px;
    font-weight: bolder;
    border: 3px solid #1e1e1e;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 12px;
}


.inputek{
    text-align: center;
    border-radius: 5px;
    
}
.input-field{
    width:70%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top:0;
    border-right: 0;
    border: 2px solid black;
    outline: none;
    background: transparent;
    transition: all 0.2s linear;
    border-radius: 6px;
}
input:is(:focus, :valid) {
    border-color: white;
    color: white;
    font-size: 12px;
    font-weight: 600;
    top: 0;
}
.submit-btn{
    padding: 10px 30px;
    cursor: pointer;
    display: inline;
    margin: auto;
    background: linear-gradient(to right, #000000, 	#808080);
    border:0;
    outline:none;
    border-radius: 30px;
    color:#fff;
}
.submit-btn:hover{
    background: linear-gradient(to right, #808080, 	#000000);
   
}
.title a{
    text-decoration: none;
    color:crimson;
}
.xd{
        width:100%;
        height: 80%;
}
.menu{
    left: -250px;
    width: 250px;
    height: 100%;
    background-image: url(/img/menuBack.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
   position: absolute;
   transition: all .4s ease;
}
.titleMenu{
font-size: 30px;
background-color: #000;
color: aliceblue;
line-height: 50px;
text-align: center;
letter-spacing: 1px;
display: block;
}
.menu ul{
    list-style: none;
    
}

.menu ul li{
    line-height: 50px;
    border-bottom: 2px solid #d94348;
    
}
.menu  ul li a{
    text-decoration: none;
    color:#d94348;
    font-size: 20px;
    font-weight: bold;
    padding: 5%;
    width: 100%;
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    
}
.menu  ul li a:hover{
    color:#d94348;
    font-size: 26px;
    font-weight: bold;
    padding: 5%;
    width: 100%;
    background-color: #1e1e1e;
    border-left-color:#52595D;
    border-right-color:#52595D;
    width: 100%;
    text-align: center;
}
.menu ul li a i{
    text-align: left;
    padding: 5%;
    color: #fff;
}
.conteinerek{
    
   
    background-image: url(/img/back.png);
    padding:2% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all .4s;
     height: 100%;
}
.content{
    color: white;
    text-align: center;
    top:50%;
    transform: translateY(-50%);
    position: relative;
    width: 100%;
}
.content h1{
    font-size: 60px;
  
}
.content h2{
    padding: 1%;
}
.content p{
    margin: auto;
    font-weight: bold;
    line-height: 50px;
}
.content .button-type{
    width: 200px;
    margin: 20px;
    padding: 2%;
    text-align: center;
    border-radius: 30px;
    font-weight: bolder;
    border: 3px solid #1e1e1e;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 20px;
}
.content .button-type2{
    width: 200px;
    margin: 20px;
    padding: 2%;
    text-align: center;
    border-radius: 30px;
    font-weight: bolder;
    border: 3px solid #1e1e1e;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 26px;
}
.content .button-type2 a{
    text-decoration: none;
    color: #fff;
}
.content span{
    width: 0;
    height: 100%;
    border-radius: 30px;
    background-image:url(/img/backImgTitle.png);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.content .button-type:hover span{
    width: 100%;
}
.content .button-type:hover {
    border: none;
}
.content .button-type2:hover span{
    width: 100%;
}
.content .button-type2:hover {
    border: none;
}

.socialdiv{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}
.socialdiv a{
    text-decoration: none;
    color: aliceblue;
}
.fb{
    width: 250px;
    height: 155px;
    float: left;

}
.fb:hover{
    background-color: #4668b3;
}
.yt{
    width: 250px;
    height: 155px;
    float: left;

}
.yt:hover{
    background-color: #d94348;
}
.tw{
    width: 250px;
    height: 155px;
    float: left;

}
.tw:hover{
    background-color: #6441a5;
}
.am{
    width: 250px;
    height: 155px;
    float: left;

}
.am:hover{
    background-color: #e47911;
}
.social{
    width: 100%;
    text-align: center;
    background-image: url(/img/backImgTitle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.conteiner{

}
.footer{
text-align: center;
    background-color: #222222;
    color: white;
    padding: 0.5%;
}
#check{
    display: none;
}
label #chekk, label #end{
    position: absolute;
    cursor: pointer;
    background-image: url(/img/backImgTitle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
}
label #chekk{
    left: 40px;
    top: 25px;
    font-size: 25px;
    color: #fff;
    padding: 4px 8px;;
}
label #end{
    z-index:1111;
    left: -200px;
    top: 85px;
    font-size: 25px;
    color: #FFF;
    padding: 4px 8px;
    transition: all .5s ease;
    position: absolute;
}
#check:checked ~ .menu{
    left: 0;
}
#check:checked ~ label #chekk{
    left: 254px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #end{
    left: 200px;
    
}
#check:checked ~ .conteinerek{
    margin-left: 250px;
  }
  .choice{
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1%;
      width: 60%;
      font-size: 15px;
      border: 3px solid #1e1e1e;
      background-image: url(/img/backImgTitle.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 10px;
  }
  .choice:hover{
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 0.5rem 1.4rem crimson;
    transform: translateY(-1px);
    transition:  1s ;
    cursor: pointer;
}
  .choice .prefix{
    padding: 1%;
   background-color: #1e1e1e;
   text-align: center;
   width: 7%;
  }
  .choice .text{
    padding: 1%;
    width: 100%;
  }
  .choice .text i{
    padding: 1%;
    
  }
  .correct{
    background-color: aquamarine;
  }
  .incorecct{
    background-color: #d94348;
  }